<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--Daily rolling file appender -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/server.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/server.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35}
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_CATALINA"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/catalina.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/catalina.%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35}
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_LOCALHOST"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/localhost.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/localhost.%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35}
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_MANAGER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/manager.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/manager.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35}
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_HOST_MANAGER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/host-manager.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/host-manager.%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35}
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_CAMEL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/camel.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/camel.%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35}
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_ACTIVEMQ"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/activemq.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/activemq.%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35}
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC_CATALINA" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE_CATALINA" />
	</appender>

	<appender name="ASYNC_LOCALHOST" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE_LOCALHOST" />
	</appender>

	<appender name="ASYNC_MANAGER" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE_MANAGER" />
	</appender>

	<appender name="ASYNC_HOST_MANAGER" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE_HOST_MANAGER" />
	</appender>

	<appender name="ASYNC_CAMEL" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE_CAMEL" />
	</appender>

	<appender name="ASYNC_ACTIVEMQ" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE_ACTIVEMQ" />
	</appender>

	<appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE" />
	</appender>

	<appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="STDOUT" />
	</appender>

	<appender name="LOGSTASH"
		class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
		<appender class="net.logstash.logback.appender.LogstashSocketAppender">
			<host>127.0.0.1</host>
			<port>1514</port>
		</appender>
	</appender>

	<logger name="org.apache.catalina" level="debug" additivity="false">
		<appender-ref ref="ASYNC_CATALINA" />
		<appender-ref ref="ASYNC_CONSOLE" />
	</logger>

	<logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost]"
		level="debug" additivity="false">
		<appender-ref ref="ASYNC_LOCALHOST" />
		<appender-ref ref="ASYNC_CONSOLE" />
	</logger>

	<logger
		name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/manager]"
		level="debug" additivity="false">
		<appender-ref ref="ASYNC_MANAGER" />
		<appender-ref ref="ASYNC_CONSOLE" />
	</logger>

	<logger
		name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/host-manager]"
		level="debug" additivity="false">
		<appender-ref ref="ASYNC_HOST_MANAGER" />
		<appender-ref ref="ASYNC_CONSOLE" />
	</logger>

	<logger name="org.apache.camel" level="debug" additivity="false">
		<appender-ref ref="ASYNC_CAMEL" />
		<appender-ref ref="ASYNC_CONSOLE" />
	</logger>

	<logger name="org.apache.activemq" level="debug" additivity="false">
		<appender-ref ref="ASYNC_ACTIVEMQ" />
		<appender-ref ref="ASYNC_CONSOLE" />
	</logger>

	<logger name="org.apache.http" level="debug" additivity="false">
	</logger>

	<logger name="vmstat" level="debug" additivity="false">
		<appender-ref ref="LOGSTASH" />
	</logger>

	<logger name="hoststat" level="debug" additivity="false">
		<appender-ref ref="LOGSTASH" />
	</logger>

	<root level="debug" additivity="false">
		<appender-ref ref="ASYNC_CONSOLE" />
		<appender-ref ref="ASYNC_FILE" />
	</root>


</configuration>